
@{
    ViewBag.Title = "FranchiseOrderDetailsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FranchiseOrderDetailsIndex</h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">FranchiseOrderDetails</h5>

        <!-- Floating Labels Form -->
        <form class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="#" placeholder="Quantity">
                    <label for="floatingQuantity">Quantity</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingAmount" placeholder="Amount">
                    <label for="floatingAmount">Amount</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingDiscount" placeholder="Discount">
                    <label for="floatingDiscount">Discount</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="TotalAmount" id="#" />
                    <label for="floatingTotalAmount">TotalAmount</label>
                </div>
            </div>
        <br />
        <br />
        <br />
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                        </label>
                    </div>
                </div>
            </div>
           
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End floating Labels Form -->

    </div>
</div>