@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Category/Category.js"></script>


<style>
   /* .dataTables_filter {
        margin-bottom: 10px;
    }*/
</style>



<!--<section>
    <div>

        <div class="card p-3">

            
            <div class="row my-2 mt-1">
                <div class="col-md-12 text-end">
                    <button class="btn btn-primary" onclick="AddCategory()"><i class="bi bi-grid-fill"></i> &nbsp;Add Category</button>
                </div>
            </div>

            <div class="table-responsive">
                <table id="tblfrachise" class="table table-bordered table-hover" style="width:100%">
                    <thead class="text-white bg-dark" >
                        <tr align="center">
                            <td class="text-white bg-dark">Category Name</td>
                            <td class="text-white bg-dark"> Category Details </td>
                            <td class="text-white bg-dark"> Is Available </td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>Cakes</td>
                            <td>Chocolates</td>
                            <td>Yes</td>
                            <td><button type='button' class='btn btn-success btn-sm' onclick='FranchiseEdit(" + elementvalue.Id + ")'><i class='bi bi-pencil-square' aria-hidden='true'></i></button>&nbsp;<button type='button' class='btn btn-info btn-sm' onclick='franchiseDetails(" + elementvalue.Id + ")'><i class='bi bi-eye-fill'></i></button>&nbsp;<button type='button' class='btn btn-danger btn-sm' onclick='DeleteOrganization(" + elementvalue.Id + ")'><i class='bi bi-trash-fill'></i></button></td>

                        </tr>
                        <tr align="center">
                            <td>Presty</td>
                            <td>Chocolates</td>
                            <td>Yes</td>
                            <td><button type='button' class='btn btn-success btn-sm' onclick='FranchiseEdit(" + elementvalue.Id + ")'><i class='bi bi-pencil-square' aria-hidden='true'></i></button>&nbsp;<button type='button' class='btn btn-info btn-sm' onclick='franchiseDetails(" + elementvalue.Id + ")'><i class='bi bi-eye-fill'></i></button>&nbsp;<button type='button' class='btn btn-danger btn-sm' onclick='DeleteOrganization(" + elementvalue.Id + ")'><i class='bi bi-trash-fill'></i></button></td>
                        </tr>                  
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

<div id="Categoryform" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">-->

        <!-- Modal content-->
        <!--<div class="modal-content">

            <div class="modal-body">
                <h5 class="card-title">  Category </h5>-->

                <!-- Floating Labels Form -->
                <!--<form class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingEmail" placeholder=" First Name">
                            <label for="floatingEmail"> Category Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <textarea type="" class="form-control" id="floatingName" placeholder=Last Name"></textarea>
                            <label for="floatingName"> Category Details</label>
                        </div>
                    </div>


                    <div class="col-md-">

                        <input type="checkbox" id="txtIsActive" placeholder="Resolved By">
                        <label for="floatingResolved By">Is Available</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>

                    </div>
                </form>--><!-- End floating Labels Form -->

            <!--</div>
        </div>

    </div>
</div>-->

@*Fanchise Owner Detail*@


<!--<div id="franchiseDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">-->

        <!-- Modal content-->
        <!--<div class="modal-content">

            <div class="modal-body">
                <h5 class="card-title">Franchise Owner Details</h5>
                <div class="card-body" id="UserDetails">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <lable>First Name :</lable><br />
                                <span>Last Name :</span><br />
                                <span>MobileNo. :</span><br />
                                <span>Email :</span><br />
                                <span>Registration Name :</span><br />
                                <span>Registration Number :</span><br />
                                <span>Upload Certificate :</span><br />
                                <span>Occupation :</span><br />
                                <span>Liquid Asset :</span><br />
                                <span>Networth :</span><br />
                                <span>Area Of Development :</span><br />
                                <span>Address :</span><br />
                                <span>City :</span><br />
                                <span>State :</span><br />
                                <span>Zipcode :</span>
                            </div>
                            <div class="col-sm-4">
                                <span>Sharadrao</span><br />
                                <span>Nimbhorkar</span><br />
                                <span>9689370953</span><br />
                                <span>viveknimbhorkar@gamil.com</span><br />
                                <span>SankalpBakery</span><br />
                                <span>322165558</span><br />
                                <span>photo</span><br />
                                <span>Farmer</span><br />
                                <span>10000</span><br />
                                <span>50000</span><br />
                                <span>NOne</span><br />
                                <span>Balaji Nagar, Nagpur-441110</span><br />
                                <span>Nagpur</span><br />
                                <span>Maharashtra</span><br />
                                <span>441110</span>
                            </div>
                            <div class="col-sm-4">

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<div id="AccountModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">-->

        <!-- Modal content-->
        <!--<div class="modal-content">

            <div class="modal-body">
                <h5 class="card-title">  Franchise Registration</h5>-->

                <!-- Floating Labels Form -->
                <!--<form class="row g-3" id="AccountForm">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingEmail" placeholder=" First Name">
                            <label for="floatingEmail"> First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder=Last Name">
                            <label for="floatingName"> Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder="  Mobile No ">
                            <label for="floatingName"> Mobile No </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                            <label for="floatingEmail"> Email</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="Registration Number">
                            <label for="floatingEmail">Registration Name</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingEmail" placeholder="Registration Number ">
                            <label for="floatingEmail">Registration Number</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="floatingEmail" placeholder="Upload Certificate">
                            <label for="floatingEmail">Upload Certificate</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingEmail" placeholder=" Occupation">
                            <label for="floatingEmail"> Occupation</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder=" Liquid Asset">
                            <label for="floatingName"> Liquid Asset </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder=" Networth">
                            <label for="floatingName"> Networth</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder=" Area Of Development">
                            <label for="floatingName"> Area Of Development</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;"></textarea>
                            <label for="floatingTextarea">Address</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingCity" placeholder="City">
                            <label for="floatingCity">City</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingCity" placeholder="State">
                            <label for="floatingCity">State</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingCity" placeholder="Zip Code">
                            <label for="floatingCity">Zip Code</label>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>--><!-- End floating Labels Form -->

            <!--</div>
        </div>

    </div>
</div>-->

<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js("#tblfrachise").DataTable();

    });
</script>



